html:not(.mobile-view) body.navigation-categories {
	
.sidebar, .sidebar-right {
	display: none;
}
.telo-qa {
	width:100%;
	border-left: none;
	max-width: 90em;
}
.list-container.has-sidebar {
    width: 100%;
}
	
.h-home {
	font-size: 14px;
	color: #666;
	text-transform: uppercase;
	margin-bottom: 8px;
	clear: both;
}

.user-ava {
    float: left;
    width: 20%;
    text-align: center;
}
.user-ava img {
    border-radius: 50%;
    border: 3px solid #fadbc8;
}	
.h-u {	color: #333;
	 
	border-bottom: 1px dashed #333;}
	
.h-qa {
    clear: both;
    margin-bottom: 5px;
}	
.h-qa svg.fa {
    color: #919191;
}

.h-blog{
    padding: 10px;
    background: #f6f8fe;
    margin: 0 30px 0 0;
	color: #666;
}	
	
a.b-title {
	font-size: 16px;
	color: #333;
	margin: 5px 0 5px 0;
	border-bottom: 1px dashed #333;
    display: inline-block;
}
	
.h-table {
	margin-top: 20px;
	tr {
    	border-bottom: none;
	}
}	
	
.avacat{
    float: left;
    margin-right: 15px;
    margin-top: -1px;
}
.avacat img.avatar {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}	
	
.title-t a.title {
    color: #09C;
    font-size: 1.19em;
    font-weight: 400;
}	

.relative-date{
   float: right;
	display: inline-block;
	margin-top: -20px;
	color: #666;
}	

.topic-list {
    margin: 0 0 10px;
    border-bottom: 1px solid #e9e9e9;
	padding: 5px 0;
}	
.foot{
    color: #919191;
	margin-top: 5px;
}	

.badge-wrapper.bullet {
    margin-left: 8px;
}	
.blog-right {
	font-size: 16px;
	color: #666;
}
.blog-1 {
	background-color: #A1B56C;
	width: 90%;
	margin-top: 20px;
	padding: 7px 13px;
	color:#fff;
}	
.blog-2 {
	background-color: #4fc3f7;
	width: 90%;
	margin-top: 20px;
	padding: 7px 13px;
	color:#fff;
}
	
.blog-3 {
	background-color: #e57373;
	width: 90%;
	margin-top: 20px;
	padding: 7px 13px;
	color:#fff;
}	
.cat-telo {
    width: 80%;
    display: inline-block;
    color: #919191;
}	
.logo-cat{
    float: left;
	width: 55px;
	margin-right: 10px;
	border-radius: 50%;
}	
.cat-title{
    font-size: 20px;
}	
.cat-glav{
    margin-bottom: 20px;
}

.topics {
    float: right;
	color: #666;
}	

a.b-title:hover, a:hover .h-u {
	color: #f56400;
	border-bottom: 1px dashed #f56400;
}
.badge-wrapper.bullet span.badge-category:hover, .title-t a.title:hover {
    color: #f56400;
}	

.discourse-tags {
    float: right;
}
	
}
